@font-face { 
  font-family: 'Raleway';
  src: url("Font/Raleway-Regular.ttf");
}
h1,
h2,
h3,
h4,
h5,
h6,
 a{
    font-family: "Raleway", serif;
    text-decoration:none;
    color:#000000
  }
p {
    font-family: "Raleway", serif ;
  }

/*
╔═╗╔═╗╦═╗╔╦╗╦╔═╗  ╦ ╦╔═╗╔═╗╔╦╗╔═╗╦═╗
╠═╝╠═╣╠╦╝ ║ ║║╣   ╠═╣║╣ ╠═╣ ║║║╣ ╠╦╝
╩  ╩ ╩╩╚═ ╩ ╩╚═╝  ╩ ╩╚═╝╩ ╩═╩╝╚═╝╩╚═                                     
*/
/*Réglage du header*/
#bloc_de_page {
  margin: auto;
  width: 95%;
}
header ul li a:hover{
  border-top: 3px solid #0065fc;
  padding-top: 38px; /*hauteur barre bleu quand souris passer sur barre nav*/
  color: #0065fc;
}
a:hover{
  text-decoration:none;
}
a:visited{
  text-decoration: none;
}
.inscrire a:hover{

  border-top: 3px solid #0065fc;
  padding-top: 38px; /*hauteur barre bleu quand souris passer sur s'inscrire*/
  }
.inscrire a {
    color: #0065fc;
  }
header ul li
{
  margin-left: 30px;
}
.headnav
{
  display: flex;
  flex-wrap: wrap;
  margin-right: 0.3rem;
  margin-top: -1rem;
  color:lightcoral;
}
header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  color: #000000;
  
}
.contenairhead
{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: flex-start;
}
/*
╦ ╦╔═╗╔═╗╔╦╗╔═╗╦═╗  ╔═╗╔═╗╦═╗╔╦╗╦ ╦╦  ╔═╗╦╦═╗╔═╗  ╔╦╗╔═╗  ╦═╗╔═╗╔═╗╦ ╦╔═╗╦═╗╔═╗╦ ╦╔═╗
╠═╣║╣ ╠═╣ ║║║╣ ╠╦╝  ╠╣ ║ ║╠╦╝║║║║ ║║  ╠═╣║╠╦╝║╣    ║║║╣   ╠╦╝║╣ ║  ╠═╣║╣ ╠╦╝║  ╠═╣║╣ 
╩ ╩╚═╝╩ ╩═╩╝╚═╝╩╚═  ╚  ╚═╝╩╚═╩ ╩╚═╝╩═╝╩ ╩╩╩╚═╚═╝  ═╩╝╚═╝  ╩╚═╚═╝╚═╝╩ ╩╚═╝╩╚═╚═╝╩ ╩╚═╝
*/
.soustext
{
  margin: 47px;
  width: 95%;
  
}

.iconemap
{
  border-radius: 0.8rem 0 0 0.8rem;
  flex-direction: row;
  text-align:center;
  padding: 13px 13px;
  width: 32px;
  font-size: 19px;
  background-color: #f2f2f2;
}
.input {
  padding: 10px;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 0 1.5em;
  width: 62%;
  height: 46px;
  font-size: 15px;
}

.logosearch
{
  display: flex;
  margin-left: 47px;
  align-items: center;
}
.fa-search
{
  display:none;
}
.f{
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  border: 2px solid #d9d9d9;
}
.bouttonrecherche {
  background-color: #0065fc;
  border: none;
  padding: 15px 15px;
  border-radius: 0px 10px 10px 0px;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
  font-size: 1em;
  cursor: pointer;
  margin: 0 -32px;
}
.recherchebouton {
  color: white;
  position: relative;
}
/*
╦ ╦╔═╗╔═╗╔╦╗╔═╗╦═╗  ╔═╗╦╦ ╔╦╗╦═╗╔═╗╔═╗
╠═╣║╣ ╠═╣ ║║║╣ ╠╦╝  ╠╣ ║║  ║ ╠╦╝║╣ ╚═╗
╩ ╩╚═╝╩ ╩═╩╝╚═╝╩╚═  ╚  ╩╩═╝╩ ╩╚═╚═╝╚═╝
*/

.filtres
{

  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 97%;
  flex-wrap: wrap;
}
.titrefiltres
{
  margin: 0 1rem 0 1rem;
  font-weight: bold;
}
/*
╔═╗╦╦ ╔╦╗╦═╗╔═╗╔═╗
╠╣ ║║  ║ ╠╦╝║╣ ╚═╗
╚  ╩╩═╝╩ ╩╚═╚═╝╚═╝
*/
.Filtre1
{
  border-radius: 60px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 50px;
  border: 2px solid #d9d9d9;
}
.Filtre1:hover{
  transform: scale(1.1);
}
.IconFiltre
{
  background-color: #DEEBFF;
  color: blue;
  border-radius: 60%;
  height: 3.15rem;
  width: 3.10rem;
  margin: auto;
  display: flex;
}
.fa-money-bill-wave-alt
{
  display:flex;
  margin-left: -35px;
  color:#0065FC;
}
.texteeconomy
{
  padding:10px;
  margin-left: 15px;
}
/*
╔═╗╦╦ ╔╦╗╦═╗╔═╗╔═╗
╠╣ ║║  ║ ╠╦╝║╣ ╚═╗
╚  ╩╩═╝╩ ╩╚═╚═╝╚═╝
*/
.Filtre2
{
  border-radius: 60px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 50px;
  border: 2px solid #d9d9d9;
  
}
.Filtre2:hover{
  transform: scale(1.1);
}
.IconFiltre2
{
  background-color: #DEEBFF;
  color: blue;
  border-radius: 60%;
  height: 3.15rem;
  width: 3.10rem;
  margin: auto;
  display: flex;
}
.fa-child
{
  display:flex;
  margin-left: -31px;
  color:#0065FC;
}
.texteFamilial
{
  padding:10px;
  margin-left: 20px;
}
/*
╔═╗╦╦ ╔╦╗╦═╗╔═╗╔═╗
╠╣ ║║  ║ ╠╦╝║╣ ╚═╗
╚  ╩╩═╝╩ ╩╚═╚═╝╚═╝
*/
.Filtre3
{
  border-radius: 60px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 50px;
  border: 2px solid #d9d9d9;
}

.Filtre3:hover{
  transform: scale(1.1);
}
.IconFiltre3
{
  background-color: #DEEBFF;
  color: blue;
  border-radius: 60%;
  height: 3.15rem;
  width: 3.10rem;
  margin: auto;
  display: flex;
}
.fa-heart
{
  display:flex;
  margin-left: -35px;
  color:#0065FC;
}
.texteRomantique
{
  padding:10px;
  margin-left: 20px;
}
/*
╔═╗╦╦ ╔╦╗╦═╗╔═╗╔═╗
╠╣ ║║  ║ ╠╦╝║╣ ╚═╗
╚  ╩╩═╝╩ ╩╚═╚═╝╚═╝
*/
.Filtre4
{
  border-radius: 29px;
  display: flex;
  align-items: center;
  margin-right: 19px;
  height: 50px;
  border: 2px solid #d9d9d9;
}
.Filtre4:hover{
  transform: scale(1.1);
}
.IconFiltre4
{
  background-color: #DEEBFF;
  color: blue;
  border-radius: 60%;
  height: 3.15rem;
  width: 3.10rem;
  margin: auto;
  display: flex;
}
.fa-dog
{
  display:flex;
  margin-left: -35px;
  color:#0065FC;
}
.texteanimaux
{
  padding:10px;
  margin-left: 20px;
}
.logement
{
  display:flex;
  margin-left:39px;
}
.logements
{
  align-items: center;
  justify-content: center;
  display: flex;
  border: solid 1px #d9d9d9;
  height: 30px;
  width: 30px;
  border-radius:100px;
}
.fa-info
{
  color:#0065FC;
}
.textlogement500
{
  margin-left: 15px;
  margin-top: 6px;
}
/*
╦ ╦╔═╗╔╗ ╔═╗╦═╗╔═╗╔═╗╔╦╗╔═╗╔╗╔╔╦╗  ╔═╗  ╔╦╗╔═╗╦═╗╔═╗╔═╗╦╦  ╦  ╔═╗
╠═╣║╣ ╠╩╗║╣ ╠╦╝║ ╦║╣ ║║║║╣ ║║║ ║   ╠═╣  ║║║╠═╣╠╦╝╚═╗║╣ ║║  ║  ║╣ 
╩ ╩╚═╝╚═╝╚═╝╩╚═╚═╝╚═╝╩ ╩╚═╝╝╚╝ ╩   ╩ ╩  ╩ ╩╩ ╩╩╚═╚═╝╚═╝╩╩═╝╩═╝╚═╝
*/
.hebergementetimage
{
  display: flex;
  margin: 39px;
}
#Hebergementblock
{
  background-color: #f2f2f2;
  border-radius: 30px;
  width: 67%;
  padding: 20px;
  margin: 0 20px 0 0;
}
.titresdesection
{
  padding-left:40px;
}
.hebergementmarseille {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}

.hotel {
  width: calc(30% - 10px);
  background: white;
  border-radius: 20px;
  padding: 7px;
  box-sizing: border-box;
  margin: 1px 25px 23px 15px;
  margin-left: 15px;
  box-shadow: 0 5px 16px #0000002e;
}
.hotel:hover
{
  transform: scale(1.1);
}
.hotel img {
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 110px;
  object-fit: cover;
}
.hotel p 
{
  color: black;
}

.hotel h3
{
  color: black;
}
.blue
{
  color:#0065fc;
}
.grey
{
  color: #D9D9D9;
}
.main
{
display:flex;
}
.afficherplus {
  color: black;
  padding-left: 25px;
  padding-top: 35px;
  font-weight: bold;
}
/*
╔═╗╔═╗╔═╗╔╦╗╦╔═╗╔╗╔  ╦  ╔═╗╔═╗  ╔═╗╦  ╦ ╦╔═╗  ╔═╗╔═╗╔═╗╦ ╦╦  ╔═╗╦╦═╗╔═╗
╚═╗║╣ ║   ║ ║║ ║║║║  ║  ║╣ ╚═╗  ╠═╝║  ║ ║╚═╗  ╠═╝║ ║╠═╝║ ║║  ╠═╣║╠╦╝║╣ 
╚═╝╚═╝╚═╝ ╩ ╩╚═╝╝╚╝  ╩═╝╚═╝╚═╝  ╩  ╩═╝╚═╝╚═╝  ╩  ╚═╝╩  ╚═╝╩═╝╩ ╩╩╩╚═╚═╝
*/
#Populaire
{
  background-color: #f2f2f2;
  border-radius: 30px;
  width: 30%;
  height: 720px;
  padding: 10px;
}
.hebergementetimages
{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  height: 85%;
}
.hebergementmarseilles {
  display:flex;
  
}
.titresdesections
{
  margin-left:3%;
  margin-top:5%;
  position:relative;
}
.fa-chart-line
{
  margin-left:45%;
}
.hotelpopup {
  background: white;
  border-radius: 20px;
  display: block;
  padding: 5px;
  box-sizing: border-box;
  margin: 6px 5px 26px 10px;
  position: relative;
  box-shadow: 0 5px 16px #0000002e;
  width: 100%;
  height: 30%;
}
.hotelpopup:hover
{
  transform: scale(1.1);
}
.hotelpopup img {
  background-color: white;
  border-radius: 10px 15px 0px 15px;
  width: 45%;
  height: 100%;
  object-fit: cover;
}
.hotelpopup p 
{
  color: black;
  margin-left: 49%;
  overflow: auto;
  display: block;
  position:relative;
}

.hotelpopup h3
{
  color: black;
  margin-left: 49%;
  margin-top: -160px;
  overflow: auto;
  display: block;
  position:relative;
}
.etoilespop
{
  margin-left: 50%;
  margin-top: 70px;
  overflow: auto;
  display: block;
  position:relative;
}
.hotelpopup2 {
  background: white;
  border-radius: 20px;
  display: block;
  padding: 5px;
  box-sizing: border-box;
  margin: 6px 5px 26px 10px;
  position: relative;
  box-shadow: 0 5px 16px #0000002e;
  width: 100%;
  height: 30%;
}
.hotelpopup2:hover
{
  transform: scale(1.1);
}
.hotelpopup2 img {
  background-color: white;
  border-radius: 10px 15px 0px 15px;
  width: 45%;
  height: 100%;
  object-fit: cover;
}
.hotelpopup2 p 
{
  color: black;
  margin-left: 49%;
  overflow: auto;
  display: block;
  position:relative;
}
.hotelpopup2 h3
{
  color: black;
  margin-left: 49%;
  margin-top: -170px;
  overflow: auto;
  display: block;
  position:relative;
}
.etoilespop2
{
  margin-left: 50%;
  margin-top: 60px;
  overflow: auto;
  display: block;
  position:relative;
}
.blue
{
  color:#0065fc;
}
.grey
{
  color: #D9D9D9;
}
/*
╔═╗╔═╗╔═╗╔╦╗╦╔═╗╔╗╔  ╔═╗╔═╗╔╦╗╦╦  ╦╦╔╦╗╔═╗
╚═╗║╣ ║   ║ ║║ ║║║║  ╠═╣║   ║ ║╚╗╔╝║ ║ ║╣ 
╚═╝╚═╝╚═╝ ╩ ╩╚═╝╝╚╝  ╩ ╩╚═╝ ╩ ╩ ╚╝ ╩ ╩ ╚═╝
*/

.Sectionactivite {
  margin-bottom: 2rem;
}

.ActiviteTitre {
  margin-bottom: 2rem;
  margin-left: 1.5em;
}

.Activite_blockactivs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2.5vw;
  grid-row-gap: 2rem;
}

.Activite_blockactiv {
  display: flex;
  justify-content: center;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 0.1s;
}

.Activite_blockactiv:hover {
  transform: scale(1.01);
}
Activite_blockactiv h3{
  text-decoration: none;
  color:#000000
}

.activiteblock1{
  grid-area: 1 / 1 / 3 / 2;
  height: 100%;
  width: 91%;
  margin-left: 40px;
}

.activiteblock2 {
  grid-area: 1 / 2 / 2 / 3;
  height: 100%;
  width: 100%;
  
}

.activiteblock3 {
  grid-area: 2 / 2 / 3 / 3;
  height: 88%;
  width: 100%;
  margin-top:28px;
}

.activiteblock4 {
  grid-area: 1 / 3 / 3 / 4;
  height: 100%;
  width: 91%;
}

.activiteblock5 {
  grid-area: 1 / 4 / 2 / 5;
  width:430px;
  margin-left:-40px;
}

.activiteblock6 {
  grid-area: 2 / 4 / 3 / 5;
  width:430px;
  margin-left:-40px;
}

.activiteimagepetite {
  width: 450px;
  height: 12rem;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.activiteimagepetite45 {
  width: 430px;
  height: 12rem;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.activiteimagepetite2 {
  width: 450px;
  height: 10rem;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.activiteimagegrande {
  height: 30rem;
  width: 100%;  
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.activitetitreblockactiv {
  padding-left: 1rem;
}

/*
╔═╗╔═╗╔═╗╔╦╗╔═╗╦═╗
╠╣ ║ ║║ ║ ║ ║╣ ╠╦╝
╚  ╚═╝╚═╝ ╩ ╚═╝╩╚═
*/
.Footer
{
  background-color: #f2f2f2;

  display:flex;
  flex-direction: row;
  padding-bottom: 50px;
}
.interieurFooter
{
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}
.interieurFooter a
{
  padding:5px;
  color: #000000;
}
.interieurFooter2
{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}
.interieurFooter2 a
{
  padding:5px;
  color: #000000;
}
.interieurFooter3
{
  display: flex;
  flex-direction: column;
  margin-left: 27%;
}
.interieurFooter3 a
{
  padding:5px;
  color: #000000;
}
@media (min-width: 1024px) and (max-width: 1592px) /* Tabblette */ {
/*
╦ ╦╔═╗╔╗ ╔═╗╦═╗╔═╗╔═╗╔╦╗╔═╗╔╗╔╔╦╗  ╔═╗  ╔╦╗╔═╗╦═╗╔═╗╔═╗╦╦  ╦  ╔═╗
╠═╣║╣ ╠╩╗║╣ ╠╦╝║ ╦║╣ ║║║║╣ ║║║ ║   ╠═╣  ║║║╠═╣╠╦╝╚═╗║╣ ║║  ║  ║╣ 
╩ ╩╚═╝╚═╝╚═╝╩╚═╚═╝╚═╝╩ ╩╚═╝╝╚╝ ╩   ╩ ╩  ╩ ╩╩ ╩╩╚═╚═╝╚═╝╩╩═╝╩═╝╚═╝
*/
.hebergementetimage
{
  display: flex;
  margin: 39px;
}
#Hebergementblock
{
  background-color: #f2f2f2;
  border-radius: 30px;
  width: 67%;
  padding: 20px;
  margin: 0 20px 0 0;
}
.titresdesection
{
  padding-left:40px;
}
.hebergementmarseille {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}

.hotel {
  width: calc(26% - 10px);
  background: white;
  border-radius: 20px;
  padding: 7px;
  box-sizing: border-box;
  margin: 1px 25px 23px 15px;
  margin-left: 20px;
  box-shadow: 0 5px 16px #0000002e;
}
.hotel:hover
{
  transform: scale(1.1);
}
.hotel img {
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 110px;
  object-fit: cover;
}
.hotel p 
{
  color: black;
}

.hotel h3
{
  color: black;
}
.blue
{
  color:#0065fc;
}
.grey
{
  color: #D9D9D9;
}
.main
{
display:flex;
}
.afficherplus {
  color: black;
  padding-left: 25px;
  padding-top: 35px;
  font-weight: bold;
}
/*
 /*
╔═╗╔═╗╔═╗╔╦╗╦╔═╗╔╗╔  ╔═╗╔═╗╔╦╗╦╦  ╦╦╔╦╗╔═╗
╚═╗║╣ ║   ║ ║║ ║║║║  ╠═╣║   ║ ║╚╗╔╝║ ║ ║╣ 
╚═╝╚═╝╚═╝ ╩ ╩╚═╝╝╚╝  ╩ ╩╚═╝ ╩ ╩ ╚╝ ╩ ╩ ╚═╝
*/

.Sectionactivite {
  margin-bottom: 2rem;
}

.ActiviteTitre {
  margin-bottom: 2rem;
  margin-left: 1.5em;
}

.Activite_blockactivs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2.5vw;
  grid-row-gap: 2rem;
}

.Activite_blockactiv {
  display: flex;
  justify-content: center;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 0.1s;
}

.Activite_blockactiv:hover {
  transform: scale(1.01);
}
Activite_blockactiv h3{
  text-decoration: none;
  color:#000000
}

.activiteblock1{
  grid-area: 1 / 1 / 3 / 2;
  height: 100%;
  width: 91%;
  margin-left: 40px;
}

.activiteblock2 {
  grid-area: 1 / 2 / 2 / 3;
  height: 100%;
  width: 300px;
  margin-left:20px;
}

.activiteblock3 {
  grid-area: 2 / 2 / 3 / 3;
  height: 88%;
  width: 300px;
  margin-top:28px;
  margin-left:20px;
}

.activiteblock4 {
  grid-area: 1 / 3 / 3 / 4;
  height: 100%;
  width: 91%;
}

.activiteblock5 {
  grid-area: 1 / 4 / 2 / 5;
 width: 300px;
  margin-left:-20px;
}

.activiteblock6 {
  grid-area: 2 / 4 / 3 / 5;
  width: 300px;
  margin-left:-20px;
}

.activiteimagepetite {
  width: 300px;
  height: 12rem;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.activiteimagepetite45 {
  width: 300px;
  height: 12rem;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.activiteimagepetite2 {
  width: 300px;
  height: 10rem;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.activiteimagegrande {
  height: 30rem;
  width: 100%;  
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.activitetitreblockactiv {
  padding-left: 1rem;
}

}